.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Role:
    div(class="8u 12u(mobile)")
        input(type='text', id='userType', placeholder='User role', disabled='disabled')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Associated tribe:
    div(class="8u 12u(mobile)")
        input(type='text', id='userTribe', placeholder='Associated tribe', disabled='disabled')
