.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Role:
    div(class="8u 12u(mobile)")
        input(type='text', id='userType', placeholder='User role', disabled='disabled')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Associated tribe:
    div(class="8u 12u(mobile)")
        input(type='text', id='userTribe', placeholder='Associated tribe', disabled='disabled')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | EAC Type:
    div(class="8u 12u(mobile)")
        select(id='dataEACList', style='width: 100%')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | DBH:
    div(class="8u 12u(mobile)")
        input(type='text', id='dataDBH', placeholder='Diameter at breast height')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Tree Classification:
    div(class="8u 12u(mobile)")
        input(type='text', id='dataTClass', placeholder='Tree Classification')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Tree Count:
    div(class="8u 12u(mobile)")
        input(type='number', id='dataTCount', placeholder='Tree Count')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Tree Height:
    div(class="8u 12u(mobile)")
        input(type='number', id='dataTHeight', placeholder='Tree Height')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Tree Morality:
    div(class="8u 12u(mobile)")
        input(type='text', id='dataTMorality', placeholder='Tree Morality')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Tree location:
    div(class="8u 12u(mobile)")
        input(type='text', id='dataTLoc', placeholder='Tree Location')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Geo-location:
    div(class="8u 12u(mobile)")
        input(type='text', id='GeoLocationObject', placeholder='Geo-Location', disabled='disabled')