header.special.container
  span.icon.fa-mobile
  h2
    | And finally there's 
    strong No Sidebar
  p Where that in the center faces the nameless horrors alone.
// One
section.wrapper.style4.container
  // Content
  .content
    section
      a.image.featured(href='#')
        img(src='images/pic04.jpg', alt='')
      header
        h3 Dolore Amet Consequat
      p
        | Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum massa. Morbi eu faucibus massa. Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.
      p
        | Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique. Sed id sem et massa ornare pellentesque. Maecenas pharetra porta accumsan.
      p
        | In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus, non hendrerit ipsum arcu tristique est.
// Two
section.wrapper.style1.container.special
  .row
    div(class='4u 12u(narrower)')
      section
        header
          h3 This is Something
        p
          | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
        footer
          ul.buttons
            li
              a.button.small(href='#') Learn More
    div(class='4u 12u(narrower)')
      section
        header
          h3 Also Something
        p
          | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
        footer
          ul.buttons
            li
              a.button.small(href='#') Learn More
    div(class='4u 12u(narrower)')
      section
        header
          h3 Probably Something
        p
          | Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
        footer
          ul.buttons
            li
              a.button.small(href='#') Learn More
