nav#nav
    ul
        li.current
            a(href='index') Welcome
        li.submenu
            a(href='#') Actions
            ul
                li.submenu
                    a(href='#') Tribes
                    ul
                        li
                            a(href='#') New tribe
                        li
                            a(href='#') All tribes
                li.submenu
                    a(href='#') Controllers
                    ul
                        li
                            a(href='#') New controller
                        li
                            a(href='#') All controllers
                li.submenu
                    a(href='#') Data Management
                    ul
                        li
                            a(href='#') Add reading
                        li
                            a(href='#') Reports
                li
                    a(href='/techinfo') Technical Info

        li
            a.button.special(href='/help') Help