.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Location:
    div(class='8u 12u(mobile)')
        input(type='text', id='newTribeLocation', placeholder='Tribe location')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Population:
    div(class='8u 12u(mobile)')
        input(type='text', id='newTribePopulation', placeholder='Tribe population')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Area:
    div(class='8u 12u(mobile)')
        input(type='text', id='newTribeArea', placeholder='Tribe area')                      