.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Email:
    div(class="8u 12u(mobile)")
        input(type='text', id='newUserEmail', placeholder=entityName + ' email')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Password:
    div(class="8u 12u(mobile)")
        input(type='text', id='newUserPassword', placeholder=entityName + ' password')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Mobile:
    div(class="8u 12u(mobile)")
        input(type='text', id='newUserMobile', placeholder=entityName + ' mobile')
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Role:
    div(class="8u 12u(mobile)")
        select(id='newUserRole', style='width: 100%')        
            option(value='ADMIN') System Administrator
            option(value='PM') Project Manager
            option(value='PS') Project Superintendent of tribe
            option(value='LBS') Local Bio Diversity Stewards of tribe
            option(value='LCOS') Local Community Stewards of tribe
.row(class='50%')
    div(class='4u 12u(mobile) pull-left')
        | Associated Tribe:
    div(class="8u 12u(mobile)")
        select(id='newUserTribe', style='width: 100%')        
            option(value='-1') None