extends layout

block content
    // Main
    article#main
        include partials/adminCommon

block pageScripts
    script(src='javascripts/pages/dataEntry.js')
    script(src='javascripts/pages/adminCommon.js')
    script(type='text/javascript').
        setEntityNames('#{entityName}', '#{entityNamePlural}');