doctype html
//
  Twenty by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title C5V Blockchain - #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='javascripts/ie/html5shiv.js')
    link(rel='stylesheet', href='stylesheets/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='stylesheets/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='stylesheets/ie9.css')
  body.contact
    #page-wrapper
      // Header
      header#header
          include partials/logo
          include partials/menu

      block content

      include partials/footer.pug

    // Scripts
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.dropotron.min.js')
    script(src='javascripts/jquery.scrolly.min.js')
    script(src='javascripts/jquery.scrollgress.min.js')
    script(src='javascripts/skel.min.js')
    script(src='javascripts/util.js')
    script(src='javascripts/jquery.pleaseWait.js')
    //if lte IE 8
      script(src='javascripts/ie/respond.min.js')
    script(src='javascripts/main.js')

    block pageScripts